body {
    background-image: url('../img/footer_lodyas.png');
    color: #ffffff;
    font-size: 20px;
    margin: 0 !important;
}
footer
{
    clear: both;
    background-color:  #414141;
    color: white;
    text-align: center;
    padding: 5px;
}
#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#logo
{
    background-color: #414141;
    color: white;
    text-align: center;
    padding: 5px;
}
#nav
{
    float: left;
    background-color: lightgray;
    width: 120px;
    min-height: 620px;
    padding: 10px;
}
#content
{
    float: left;
    background-color: gray;
    padding: 20px;
    width: 820px;
    min-height: 600px;
}